
.name, .password {
    display:block;
}

#name-field{
    width:98%;
    margin-bottom: 10px;
}

#password-field{
    width:98%;
    margin-bottom: 5px;
}

.login-button{
    display:block;
    width:100%;
    margin-top:30px;
    height:40px;
    border-radius:50px;
}

a {
    float:right;
}

.checkbox{
    float:left;
}
.status-label{
    text-align:center; 
    display:block;  
}

/* initial state of status label, 
   (so elements don't get rearranged
   when left empty) */
.status-label {
    color: white;
    padding: 5px;
    margin-top:5px;
}


.form {
    margin:auto;
    width:25%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 40px;
}