#navbar{
    background-color: #1e1e1e;
    height: 50px;
    display: block;
    position: relative;
    top: 30px;
  }ul{
    display: inline;
    float: right;
    list-style: none;
  }

  ul li{
    color: #d4d4d4;
    display: inline-block;
    border: 1px solid pink;
    padding-right: 50px;
    cursor: pointer;
  }

  ul li:hover{
    color: aqua;
  }
 
  .logo{
    width: 100px;
    height: 100%;
    float: left;
  }